.event-calendar-container {
  margin: auto;
  padding: 1rem;
}

.header {
  margin-bottom: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.5rem;
}

.day-label {
  font-weight: bold;
}

.border {
  border: 1px solid;
}

.p-2 {
  padding: 0.5rem;
}

.today-cell {
  background-color: #edf2f7;
  color: #000000;
}

.nav-button {
  margin: 0.2rem;
  background-color: #48bb78;
}

.event-cell {
  cursor: pointer;
  border-radius: 0.375rem;
}

.empty-day {
  border: 1px solid;
  border-radius: 0.375rem;
  padding: 0.5rem;
}

.day-cell {
  border-radius: 0.375rem;
  padding: 0.5rem;
}
